body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #020617;
  padding: 30px;
}

.upload, .ai-result {
  padding: 40px 20px;
}

input[type="file"] {
  margin-top: 15px;
}

.preview {
  margin-top: 20px;
}

.preview img {
  max-width: 250px;
  border-radius: 10px;
  display: none;
  border: 3px solid #38bdf8;
}

button {
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

#result {
  margin-top: 20px;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background: #020617;
  padding: 20px;
  font-size: 14px;
}
